/* -------------------- resetStyles ------------------  */
* {
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}


/* -------------------- mainLayout ------------------  */
body {
    font-family: 'arial', monospace;
    background-color: #F0F0F0;
    color: #333333;
}

.container {
    min-width: 400px;
    max-width: 400px;
    margin: 8% auto;
    padding: 1.6em;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow:         5px 17px 29px -3px rgba(102,102,102,0.77);
    -moz-box-shadow:    5px 17px 29px -3px rgba(102,102,102,0.77);
    -webkit-box-shadow: 5px 17px 29px -3px rgba(102,102,102,0.77);
}


/* -------------------- searchBar ------------------  */
.searchBar {
    display: flex;
    justify-content: space-between;
}

.searchInput {
    width: 76%;
    border-radius: 4px;
    padding: .6em;
    border: 1px solid #D6D6D6;
    box-shadow:         inset 0 1px 1px #D6D6D6;
    -moz-box-shadow:    inset 0 1px 1px #D6D6D6;
    -webkit-box-shadow: inset 0 1px 1px #D6D6D6;
}

.searchButton {
    width: 21%;
    border-radius: 4px;
    background-color: #F9F9F9;
    border: 1px solid #D6D6D6;
    font-weight: bold;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
}

.searchButton:hover {
    border:1px solid #bfc4c4;
}


/* -------------------- userProfile ------------------  */
#userProfile {
    display: flex;    
}

.userInfo {
    display: flex;
    flex-direction: row;
}

.userTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-left: 1em;
    margin: 1em 0 1.4em 0;
}

.userAvatar {
    width: 72px;
    height: 72px;
    border-radius: 4px;
    margin: 1em 0 1.4em 0;
}


/* ------------------- reposContainer -----------------  */
.reposContainer {
    text-align: left;
}

#repoList {
    overflow-x: hidden; 
    overflow-y: scroll; 
    max-height: 206px;
}

#repoList::-webkit-scrollbar { 
    display: none; 
} 

.repoListTitleDivider {
    font-weight: 700;
    border-bottom: 1.5px #777777 solid;
    padding-bottom: .4em;
}

.repo {
    display: flex;
    justify-content: space-between;
    padding: .8em .8em;
    border-bottom: 1px solid #D1D1D1;
}
 
.repoTitle { 
    font-weight: bold;
}

.repoInfo {
    display: flex;
    align-items: center;
    font-size: .8em;
}

.repoInfo img {
    padding: 0 .4em;
}


/* -------------------- errorMessage ------------------  */
.errorMessage {
    width: 100%;
    background-color: #F9DEDE;
    color: #A42318;
    border: 1px solid #D5BCBC;
    border-radius: 4px;
    margin-top: 1em;
    padding: 1em;
    text-align: left;
}